<div class="overlay-bg">
    <div class="popover popover-block fade in">
        <h3 class="popover-title confirm-title">Are you sure?</h3>
        <div class="popover-content confirm-content text-center">
            <div class="btn-group">
                <a class="btn btn-small btn-primary ok-link ok-link-btn" href="#" target="_self"><i class="icon-ok-sign icon-white"></i> Yes</a>
                <a class="btn btn-small remove-link remove-link-btn" data-dismiss="confirmation"><i class="icon-remove-sign"></i> No</a>
            </div>
        </div>
    </div>
</div>